h1{
	color: red;
	}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
	}
.nav-bar{
	background-color: gray;
	color: white; 
	padding: 0;
	}
.nav-bar ul{
	list-style-type: none;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto; 
	text-align: right; 
	padding: 10px 0px;
	max-width: 900px;
	}
.nav-bar ul li{
	display: inline;
	}
.nav-bar ul li a{
	padding: 10px;
	color: white;
	text-decoration: none;
	}
.nav-bar ul li a:hover{
	color: red;
	cursor: pointer;
	}   
.page-container{
	padding: 0px 15px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto; 
	}
.page-title{
	text-align: center;
	}
.frontpage-category-container{
	height: 150px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: black; 
	padding-top: 10px;
	margin-bottom: 20px;
	display: none;
	}
.frontpage-category-container.active{
	background-color: gray;
	boorder-color: black;
	color: white;
}
.frontpage-category-container-small.active:hover{
	color:black;
}
.frontpage-category-container.active:hover{
	color: black;
}
.frontpage-category-container:hover{
	background-color: #D6D6D6;
}
.frontpage-category-container-small{
	display: block;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	padding-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 3em;
}
.frontpage-category-container-small.active{
	background-color: gray;
	border-color: black;
	color: white;
}
.frontpage-category-container-small:hover{
	background-color: #D6D6D6;
}
.frontpage-category-container-small .fa-caret-down{
	display: none;
}
.frontpage-category-container-small.active .fa-caret-right{
	display: none;
}
.frontpage-category-container-small.active .fa-caret-down{
	display: inline;
}
.frontpage-category-container .fa{
	font-size: 3em;
	}
.frontpage-category-container-small .fa{
	padding-right: 10px;
}
.frontpage-content-container{
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 20px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
		
	.frontpage-category-container{
		display: block;

	}
	.frontpage-category-container-small{
		display: none;
	}

}	
